<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Messagerie avec Vue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css" integrity="sha512-PwhgdrueUt7iVICnZMjYcbiLalCztrVfzUIYXekIK8hZu4DQP141GrKh6fUHmNERWi4bGdBXIZqtBZnsSzHEMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="app" class="ui container">
    <div class="ui menu">
        <div class="header item">Master & dogs</div>
        <div class="item right floated">Version : <span class="ui brown label">1.0.0</span></div>
    </div>
<h3>Nombre Propriétaire :<div class="ui blue left pointing label count-masters">{{proprietaires.size}}</div></h3>


<div class="ui info message top attached"><i class="info icon"></i>Ajouter un propriétaire...</div>
<div class="ui segment bottom attached">
    <form action="/master/add" object="${master}" method="post">
        <div class="ui input">
            <input type="text" name="firstname" placeholder="Prénom"/>
            <input type="text" name="lastname" placeholder="Nom"/>
            <button class="ui icon button right attached" name="addButton"><i class="plus icon"></i></button>
        </div>
    </form>
</div>

<table class="ui celled table">
    <thead><th>Propriétaire</th><th>Actions</th></thead>
    {{#proprietaires}}
    <tr>
        <td>
            {{firstname}} {{lastname}}
            <div class="ui label count-master-dogs">
                <i class="dog icon"></i>{{dogs.size}}
            </div>
        </td>
        <td>
            <form action="/master/{{id}}/dog" object="${dog}" method="post">
                <div class="ui input">
                    <input type="text" name="name" placeholder="Dog name">
                </div>

                <div class="ui floated right buttons">
                    <button class="ui button negative" name="dog-action" value="give-up">Abandonner</button>
                    <span class="or" data-text="ou"></span>
                    <button class="ui button positive" name="dog-action" value="add">Acquérir</button>
                </div>

                <a class="ui black button delete-master" href="/master/{{id}}/delete">dead</a>
            </form>
        </td>
    </tr>
    {{/proprietaires}}
    {{^proprietaires}}
    <tr>
        <td colspan="2">
            <div class="ui warning message">
                <table>
                    <td>
                        <i class="huge exclamation circle icon"></i>
                    </td>
                    <td>
                        <b>Pas de maitres</b><br/>
                        Il n'y a pas de maître dans la base de données.
                    </td>
                </table>
            </div>
        </td>
    </tr>
    {{/proprietaires}}
</table>

<h3>Chiens à adopter<div class="ui red left pointing label count-dogs">{{AdopteChien.size}}</div></h3>

<table class="ui celled table">
    <thead><th>Chien</th><th>Actions</th></thead>
    {{#AdopteChien }}
    <form method="post" action="/dog/{{id}}/action">
        <tr>
            <td>{{name}}</td>
            <td>
                <div class="ui action input">
                    <select name="ChooseMaster" class="ui search dropdown" {{^proprietaires}}disabled{{proprietaires}}>
                    {{#proprietaires}}
                    <option value="{{id}}">{{firstname}} {{lastname}}</option>
                    {{/proprietaires}}
                    {{^proprietaires}}
                    <option selected value="">Pas d'adoptant</option>
                    {{/proprietaires }}
                    </select>
                    <button class="ui icon button" value="adopt" name="dog-action"><i class="plus icon"></i></button>
                    <button class="ui red icon button" name="dog-action" value="remove"><i class="sign out icon"></i></button>
                </div>
            </td>
        </tr>
    </form>
    {{/AdopteChien}}
    {{^AdopteChien}}
    <tr>
        <td colspan="2">
            <div class="ui positive message">
                <table>
                    <td>
                        <i class="huge info circle icon"></i>
                    </td>
                    <td>
                        <b>Aucun Chien</b><br/>
                        Il n'y a pas de chien à l'adoption dans la base de données.
                    </td>

                </table>
            </div>
        </td>
    </tr>
    {{/AdopteChien}}
</table>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.js" integrity="sha512-kcjXjSNAMuKRYv8VAk/rMsHzGC/M/thh4QRZAE3SM2HPAQs77N0aOVh35IpJAtLxFpzfHeYzFHf9upgnNFfQUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>