{{> main/header }}
<div>
<span class="ui huge blue text">
   <a href="/domain/{{CurrentDomain}}">{{CurrentDomain}}</a>
</span>
</div>
<div>
<a href="/domain/{{CurrentDomain}}">
    <button class="ui right labeled icon button">
        <i class="left arrow icon"></i>
        retour
    </button>
</a>
</div>
<table class ="ui celled structured table">
    <thead>
    <tr>
        <th >Title</th>
        <th> Description</th>
        <th> User </th>
        <th> Provider's Address </th>
        <th> Domain </th>
    </tr>
    </thead>
    <tbody>
    {{#complaints}}
    <tr>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>{{user.username}}</td>
        <td>{{provider.address}}</td>
        <td>{{domain.name}}</td>
    </tr>
    {{/complaints}}
    </tbody>

</table>

{{> main/footer }}