{{> main/header }}
<span class="ui huge blue text">
{{CurrentDomain}}
</span>
<span class="ui blue text">
    <h2>Nombre de domaine(s) : {{count}}</h2>
</span>
{{#domainParent}}
<a href="/domain/{{domainParent}}">
<button class="ui right labeled icon button">
    <i class="left arrow icon"></i>
    retour
</button>
</a>
{{/domainParent}}
<div class="ui cards">
{{#domains}}
    <div class="card">
        <div class="content">
            <div class="header">{{name}}</div>
            <div class="meta">
                {{providers.size}} providers
            </div>
            <div class="description">
                {{description}}
                <a href="/complaints/{{name}}">
                <div class="ui label">
                {{Complaints.size}}
                </div>
                </a>
                <a href="/complaints/{{name}}/sub">
                    see all complaints...
                </a>
            </div>
        </div>
        <a href="/domain/{{name}}">
        <div class="ui bottom attached button" >
            <i class="folder open icon"></i>
            Open
        </div>
        </a>
    </div>
{{/domains}}
</div>

{{> main/footer }}